:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: ghostwhite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 3rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  margin: 0 0 1rem 0;
}

a {
  font-weight: 500;
  color: royalBlue;
  text-decoration: inherit;
}

a:hover {
  color: color-mix(in srgb, royalBlue 75%, black);
}

hr {
  margin: 3rem 0;
  width: 10rem;
  border-color: #ccc;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
}

button {
  background: royalBlue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border: 2px solid color-mix(in srgb, royalBlue 75%, black);
  border-radius: 0.5rem;
}
button:hover {
  background: color-mix(in srgb, royalBlue 75%, black);
}
button:focus-visible {
  outline: 3px solid orange;
  outline-offset: 2px;
}
button:active {
  background: color-mix(in srgb, royalBlue 50%, black);
  /* outline: none; */
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.5rem 1.25rem;
  border-bottom: 1px solid #ccc;
}

.button-card {
  max-width: 300px;
  min-height: 125px;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  background: white;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

label.checkbox-label {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  user-select: none;
}

input[type="text"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
  accent-color: royalBlue;
}

.TabbableElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
}