:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1a1a1a;
  background-color: ghostwhite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.2rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: royalBlue;
  text-decoration: inherit;
}

a:hover {
  color: color-mix(in srgb, royalBlue 75%, black);
}

hr {
  margin: 3rem 0;
  width: 10rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.5rem 1.25rem;
  border-bottom: 1px solid #ccc;
}